.logo-pokemon{
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pokemon-div{
  max-width: fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-img{
  max-width: 50px;
}
.pokemon-img:hover {
  transform: scale(2.5);
}




/*@media screen and (max-width: 640px) {
  #menu {
    background: rgb(102, 102, 204);
  }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  #menu {
    background: white;
  }
}

@media screen and (min-width: 1280px) {
  #menu {
    background: #FFDE00;
  }
}

  
  /*body{
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  #menu{
    margin: 3%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    max-width: 900px;
    margin: auto;
  }

  #selection{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #a0a8d3;
    box-sizing: border-box;
    color: #3bbb66ec;
    text-align-last:center;
    cursor: pointer;
    font-family:'Rozha One', serif;;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    min-width: 130px;
}
  
#order{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #a0a8d3;
    box-sizing: border-box;
    color: #3bbb66ec;
    text-align-last:center;
    cursor: pointer;
    font-family:'Rozha One', serif;;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    min-width: 130px;
}

#region{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #a0a8d3;
    box-sizing: border-box;
    color: #ffffff;
    text-align-last:center;
    cursor: pointer;
    font-family:'Rozha One', serif;;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    min-width: 130px;
}*/

